<div class="card">
<div class="card-header">Your Profile <fa name="credit-card"></fa></div>

<div class="card-body">

	<form #profileForm="ngForm" (ngSubmit)="updateProfile(user)">
 
		<div class="form-group">
		<label>First Name</label>
		<input type="text" class="form-control" [(ngModel)] = "user.firstName" name="firstName" #firstName="ngModel" required />
		<span *ngIf="firstName.invalid" class="text text-danger">First name is required</span>
		</div>

		<div class="form-group">
		<label>Last Name</label>
		<input type="text" class="form-control" [(ngModel)] = "user.lastName" name="lastName" #lastName="ngModel" required email />
		<span *ngIf="lastName.invalid" class="text text-danger">Last name is required</span>
		</div>

		<div class="form-group">
		<label>Email</label>
		<input type="text" class="form-control" [(ngModel)] = "user.email" name="email" #email="ngModel" required email />
		<span *ngIf="profileForm.controls['email'].hasError('email')" class="text-danger">Provide a valid Email</span>
		<span *ngIf="profileForm.controls['email'].hasError('required')" class="text-danger">Email is required</span>
		</div>

		<div class="form-group">
		<label>Password</label>
		<input type="password" class="form-control" />
		</div>

		<div class="form-group">
		<label>Confirm Password</label>
		<input type="password" class="form-control" />
		</div>

		<div class="form-group text-center">
		<button type="submit" class="btn btn-info" >Save</button>
		</div>

	</form>

</div>
</div>